<form>
  <mat-form-field appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search" placeholder="{{ 'EUR/USD o BBVA' }}" [formControl]="form" [matAutocomplete]="auto" />
    <button *ngIf="form.value" matSuffix mat-icon-button class="clear-button" aria-label="Clear" (click)="clearInput()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete autoActiveFirstOption #auto>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        <p>{{ option }}</p>
        <!-- <p (click)="selectArticle(option)">{{ option }}</p> -->
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
