mat-form-field {
    margin-top: 20px;
    font-size: 15px;
    @media(max-width: 425px) {
        margin-top: 15px;
        font-size: 10px;
    }
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: rgb(250, 246, 246);
    border-radius: 5px;
    border-color: var(--accent); 
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5%;
}

:host ::ng-deep .mat-form-field-infix {
    top: -4px;
}

:host ::ng-deep .mat-icon {
    color: var(--accent);
}

input{
    color: var(--accent);
}
