<!-- FORM -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- <img src="../../../../assets/img/user.png" alt="user-image" style="margin-top: 20px" /> -->
  <!-- <br /> -->
  <!-- <br /> -->
  <h3>{{ formType }}</h3>
  <!-- EMAIL OR USERNAME INPUT -->
  <mat-form-field *ngIf="formType === 'login' || formType === 'signup'" class="input-witdh" appearance="outline">
    <mat-label>{{ formType === 'login' ? 'UsernameOrEmail' : 'Username' }}</mat-label>
    <input
      matInput
      placeholder="{{ formType === 'login' ? 'UsernameOrEmail' : 'Username' }}"
      formControlName="nombreUsuario"
    />
    <button
      *ngIf="form.get('nombreUsuario')?.value"
      matSuffix
      mat-icon-button
      class="clear-btn"
      aria-label="Clear"
      (click)="form.get('nombreUsuario')?.reset()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="form.get('nombreUsuario')?.touched && form.get('nombreUsuario')?.hasError('required')">
      Required
    </mat-error>
    <mat-error *ngIf="form.get('nombreUsuario')?.touched && form.get('nombreUsuario')?.hasError('maxlength')">
      TitleLength
    </mat-error>
  </mat-form-field>
  <!-- EMAIL INPUT -->
  <mat-form-field *ngIf="this.formType === 'signup'" class="input-witdh" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" />
    <button
      *ngIf="form.get('email')?.value"
      matSuffix
      mat-icon-button
      class="clear-btn"
      aria-label="Clear"
      (click)="form.get('email')?.reset()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')" class="error">
      Invalid email
    </mat-error>
    <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')" class="error">
      Required
    </mat-error>
    <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['maxlength']" class="error">
      Tittle lenght
    </mat-error>
  </mat-form-field>
  <!-- PASSWORD INPUT -->
  <mat-form-field *ngIf="formType === 'login' || formType === 'signup'" class="input-witdh" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" />
    <div
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </div>
    <mat-error class="error" *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
      {{ 'Required' }}
    </mat-error>
    <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.hasError('pattern')" class="error">
      {{ 'auth.signup.pass-length' }}
    </mat-error>
  </mat-form-field>
  <!-- ADD PORTFOLIO INPUT -->
  <mat-form-field
    *ngIf="formType === 'Seguimiento' || formType === 'Posiciones'"
    class="input-witdh"
    appearance="outline"
  >
    <!-- <mat-label>Seguimiento</mat-label> -->
    <input matInput placeholder="Introduce nombre cartera" formControlName="nombre" />
    <button
      *ngIf="form.get('nombre')?.value"
      matSuffix
      mat-icon-button
      class="clear-btn"
      aria-label="Clear"
      (click)="form.get('nombre')?.reset()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="form.get('nombre')?.touched && form.get('nombre')?.hasError('required')" class="error">
      Required
    </mat-error>
    <mat-error *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.['maxlength']" class="error">
      Tittle lenght
    </mat-error>
  </mat-form-field>

  <br />
  <button
    *ngIf="this.formType === 'login'"
    type="submit"
    class="input-width button"
    mat-raised-button
    [disabled]="form.invalid"
  >
    {{ formType }}
  </button>
  <button
    *ngIf="this.formType === 'signup'"
    type="submit"
    class="input-width button"
    mat-raised-button
    [disabled]="form.invalid"
  >
    {{ formType }}
  </button>
  <button
    *ngIf="this.formType === 'Seguimiento' || formType === 'Posiciones'"
    type="submit"
    class="input-width button"
    mat-raised-button
    [disabled]="form.invalid"
  >
    Crear
  </button>
  <div *ngIf="this.formType === 'login'" class="forgot-pass">{{ 'Forgot' }}</div>
  <div *ngIf="this.formType === 'login'" class="send-email">{{ 'SendEmail' }}</div>
  <div *ngIf="this.formType === 'signup'" class="goto-login">
    {{ 'AlreadyAndAccount' }}
    <span (click)="signupOpen()">&nbsp;{{ 'Login' }}</span>
  </div>
</form>
