<div class="container">
  <!-- <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    matSort
    (matSortChange)="announceSortChange($event)"
  > -->
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
    <ng-container *ngFor="let column of instrumentColumns" [matColumnDef]="column.def">
      <!-- <ng-container *ngFor="let column of columns" [matColumnDef]="column.def"> -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.label }}
      </th>

      <td mat-cell *matCellDef="let element">
        <p>{{ element[column.def] }}</p>
      </td>
      <td mat-cell *matCellDef="let element">
        <mat-icon>delete</mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="delete(element)">
          <mat-icon matTooltip="Eliminar">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
