<div class="add-position is-open" [class.is-disabled]="!positionFormEnabled">
  <div class="position-details">
    <form class="add-position-form" (ngSubmit)="submitPosition()" #positionNgForm="ngForm">
      <div class="field field-type">
        <label for="operation">Tipo:</label>
        <select
          name="operation"
          id="operation"
          class="new-input select-box"
          [(ngModel)]="positionForm.operation"
          [disabled]="!positionFormEnabled"
        >
          <option value="Compra">Compra</option>
          <option value="Venta">Venta</option>
        </select>
      </div>

      <div class="field field-date">
        <label for="position-date">Fecha:</label>

        <div class="calendar-date-picker">
          <input
            type="date"
            id="position-date"
            name="positionDate"
            class="native-date-input"
            [(ngModel)]="positionForm.date"
            [disabled]="!positionFormEnabled"
          />

          <div class="date-picker-icon-wrap" aria-hidden="true">
            <span class="date-picker-icon"></span>
          </div>
        </div>
      </div>

      <div class="field field-amount">
        <label for="amount">Cantidad:</label>
        <input
          id="amount"
          name="quantity"
          type="text"
          class="new-input input-text-box amount"
          [(ngModel)]="positionForm.quantity"
          [disabled]="!positionFormEnabled"
          (keydown)="blockInvalidNumberKey($event)"
        />
      </div>

      <div class="field field-price">
        <label for="price">Precio:</label>
        <input
          id="price"
          name="price"
          type="text"
          class="new-input input-text-box"
          [(ngModel)]="positionForm.price"
          [disabled]="!positionFormEnabled"
          (keydown)="blockInvalidNumberKey($event)"
        />
      </div>

      <div class="field field-commission">
        <label for="commission">Comisión:</label>
        <div class="input-group input-group-enabled">
          <input
            id="commission"
            name="commission"
            type="text"
            class="form-control form-control-enabled"
            [(ngModel)]="positionForm.commission"
            [disabled]="!positionFormEnabled"
            (keydown)="blockInvalidNumberKey($event)"
          />
          <span class="cur-container">€</span>
        </div>
      </div>

      <button type="submit" class="add-position-btn" [disabled]="!canSubmitPosition()">Añadir posición</button>
    </form>
  </div>
</div>
