.container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
}

th.mat-header-cell,
.mat-header-cell {
  color: black;
  font-weight: bold;
}

th.mat-sort-header-sorted {
  color: black;
}

.data-row:hover{
  background-color: rgb(232, 253, 253);
}

.data-row:hover .actions-cell .delete-icon {
   cursor: pointer;
  opacity: 0.5;
  visibility: visible;
  font-size: 20px;
}

.actions-cell .delete-icon {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity 0.9s ease;
}

.actions-cell {
  width: 10px;
  text-align: center;
}

.link-cell {
  color: #092f75;
  font-weight: 450;
}