.container {
  height: 500px;
  margin: 0px;

  /* @media(max-width: 800px) {
    left: 0px;
    min-width: 90%;
    background-color: white;
    margin: 0px 5%;
  } */
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.actions-cell .delete-icon {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity 0.9s ease;
}

.data-row:hover{
 
  background-color: rgb(232, 253, 253);

}

.data-row:hover .actions-cell .delete-icon {
   cursor: pointer;
  opacity: 0.5;
  visibility: visible;
  font-size: 20px;
}

.actions-cell {
  width: 10px;
  text-align: center;
}