/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --primary: #3F51B5; 
    --accent: #607D8B; 
    --bottle: #33582F; 
    --cream: rgb(249, 243, 236);
    --darkGrey: rgba(47, 47, 47, 1);
    --warnBrown: #A52A2A;
    --warnOrange: #E64A19;
    --lemon: #c7d574;
    --pistachio: #aad777;
    --greenCake: #69F0AE;
}
.mat-tooltip {
  background-color: black;
  font-size: 12px;
}