<mat-toolbar color="primary" class="toolbar">
  <span class="logo">Investing</span>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="user">
    <mat-icon>account_circle</mat-icon>
  </button>

  <button mat-button routerLink="/portfolios">Portfolios</button>

  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

  <!-- <button mat-icon-button [matMenuTriggerFor]="language">
        <mat-icon>language</mat-icon>
    </button> -->
</mat-toolbar>

<mat-menu #user="matMenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>

  <button mat-menu-item (click)="openLogin()">
    <mat-icon>login</mat-icon>
    <span>login</span>
  </button>
</mat-menu>

<!-- LANGUAGE MENU -->
<!-- <mat-menu #language>

    <ng-container *ngFor="let context of contexts; index as i">
        <ng-template *ngTemplateOutlet="languageButtonTemplate; 
    context: { 
      lang: context.lang, 
      flag: context.flagUrl, 
      title: context.title, 
      label: context.label, 
      width: context.width, 
      height: context.height}">
        </ng-template>
        <mat-divider *ngIf="i < contexts.length - 1"></mat-divider>
    </ng-container>
</mat-menu>


<ng-template #languageButtonTemplate let-lang="lang" let-flag="flag" let-title="title" let-label="label"
    let-width="width" let-height="height">
    <button mat-menu-item>
        <mat-icon *ngIf="isMobile">language</mat-icon>
        <img [src]="flag" [alt]="title + '-flag'" [title]="title" [width]="width" [height]="height">
        {{ label }}
    </button>
    <mat-divider *ngIf="isMobile"></mat-divider>
</ng-template> -->
