<!-- GPT SEARCH BAR -->
<form class="addSymbolForm">
  <input
    class="addSymbolInput"
    type="text"
    placeholder="EUR/USD o BBVA"
    [formControl]="form"
    name="symbolQuery"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      <p>{{ option }}</p>
      <!-- <p (click)="selectArticle(option)">{{ option }}</p> -->
    </mat-option>
  </mat-autocomplete>
  <button class="addSymbolBtn" type="submit" aria-label="Buscar">
    <mat-icon>search</mat-icon>
  </button>
</form>
